<%- include('./partials/head.ejs') %>
	<% data.forEach(post=> { %>
		<div class="content">
			<!-- add img here -->
			<div class="post">
				<p class="post-date">
					<%= post.postDate %>
				</p>
				<p class="post-title">
					<%= post.postTitle %>
				</p>
				<p class="post-content">
					<%= post.postContent %>
				</p>
				<p class="post-auther">Auther:
					<%= post.postAuther %>
				</p>
				<div class="menu-links">
					<a href="/viewpost?id=<%= post.postId%>">View</a>
					<a href="/delete?id=<%= post.postId %>">Delete</a>
				</div>
			</div>
		</div>

		<% }) %> <%- include('./partials/foot.ejs') %>